div.page {
	padding: 1px;
	margin: 5px;
}

div.header {
	padding: 1px;
	margin: 5px;
}

div.body {
	padding: 1px;
	margin: 5px;
}

div.footer {
	padding: 1px;
	margin: 5px;
}

.cw-FlexTable {
	  border-collapse: collapse;
      margin: 5px;
}

.cw-FlexTable-view-edit-box {
	border-collapse: collapse;
	margin: 5px;
}

.cw-FlexTable-view-edit-box td {
	border: 1px solid white;
	background-color: white;
}

.cw-FlexTable-main-list-th {
	border-collapse: collapse;
    margin: 5px;
	color: white;
}

.cw-FlexTable-main-list-th td {
	background-color: #009966;
	border: 1px solid green;
}

.cw-FlexTable-main-list-tr {
	border-collapse: collapse;
    margin: 5px;
	color: black;
}

.cw-FlexTable-main-list-tr td {
	border: 1px solid green;
}

.cw-FlexTable-main-list-tr tr:hover {
	background-color: #99FFCC;
}

.cw-FlexTable-navigation {
	background-color: #99CC33;
	color: white;
}

.cw-FlexTable-navigation td {
	border: 1px solid green;
	text-align: center;
}

.cw-FlexTable-navigation td:hover {
	background-color: #999933;
}

.cw-FlexTable-navigation-current-page {
	background-color: #999933;
}

.cw-FlexTable-footer {
	margin: 5px;
	background-color: #99CC33;
	color: white;
}

.cw-FlexTable-footer td {
	text-align: right;
	border: 1px solid green;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: white;
}

a:active {
	text-decoration: underline;
	color: white;
}

.ml-anchor a:link {
	color: black;
}

.ml-anchor a:visited {
	color: black;
}

.ml-anchor a:hover {
	color: black;
}

.ml-anchor a:active {
	color: black;
}