/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
div.page {
	padding: 1px;
	margin: 5px;
}

div.header {
	padding: 1px;
	margin: 5px;
	height: 20px;
}

div.body {
	padding: 1px;
	margin: 5px;
}

div.footer {
	padding: 1px;
	margin: 5px;
	height: 20px;
}

td {
	text-align: left;
}

th {
	background-color: #009966;
	text-align: left;
}

table.nm {
	width: 98%;
	text-align: center;
}

td.nm {
	width: 16%;
	color: white;
	background-color: #99CC33;
}

.sendButton {
	display: block;
	font-size: 16pt;
	width: 50px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 230px;
	margin: 5px;
	padding: 10px;
	word-wrap: break-word;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.cw-FlexTable {
	border-collapse: collapse;
}

.cw-FlexTable td {
	border: 1px solid green;
}

.cw-FlexTable-main-list {
	background-color: #009966;
	color: white;
}

.cw-FlexTable-navigation {
	background-color: #99CC33;
	color: white;
}

.cw-FlexTable-navigation td:hover {
	background-color: #999933;
}

.cw-FlexTable-navigation-current-page {
	background-color: #999933;
}

.cw-FlexTable-footer {
	background-color: #99CC33;
	color: white;
	text-align: right;
}
