div.page {
	padding: 1px;
	margin: 5px;
	width: 1015px;
}

div.header {
	width: 1024px;
	padding: 1px;
	margin: 5px;
	height: 20px;
}

div.body {
	width: 1024px;
	padding: 1px;
	margin: 5px;
}

div.footer {
	width: 1024px;
	padding: 1px;
	margin: 5px;
	height: 20px;
}

table {
	border-collapse: collapse;
}

table,td,th {
	border: 1px solid green;
}

th {
	background-color: #009966;
	text-align: left;
}

table.nm {
	width: 98%;
	text-align: center;
	background-color: #99CC33;
}

td.nm {
	width: 16%;
	color: white;
}

td.nm2 {
	color: white;
}

td.nm3 {
	color: white;
}

table.ml {
	width: 98%;
	text-align: left;
}

th.ml {
	color: white;
}

table.ml1 {
	width: 75%;
	text-align: left;
}

th.ml1 {
	color: white;
}

table.ml2 {
	width: 40%;
	text-align: left;
}

th.ml2 {
	color: white;
}

td.nm:hover {
	background-color: #999933;
}

td.nm2:hover {
	background-color: #999933;
}

td.nm3:hover {
	background-color: #999933;
}

table.footer {
	width: 98%;
	text-align: right;
	background-color: #99CC33;
}

table.header1 {
	width: 75%;
	background-color: #99CC33;
}

table.footer1 {
	width: 75%;
	text-align: right;
	background-color: #99CC33;
}

td.footer {
	color: white;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

a:link {
	color: black;
}

a.nm:link {
	color: white;
}

a:visited {
	color: black;
}

a.nm:visited {
	color: white;
}

a:hover {
	color: black;
}

a.nm:hover {
	color: white;
}

a:active {
	color: white;
}

a.nm:active {
	color: black;
}