<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.jboss.org/dtd/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">10</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Hibernate Annotations (and package-info.java)-->
		<mapping class="domain.loginpage.Users"/>
		<mapping class="domain.mainpage.Ads"/>
		<mapping class="domain.addescpage.AdDesc" />
	</session-factory>
</hibernate-configuration>
